<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
@model Drone
@* specifier a mon modele qui va etre de type Drone *@
<body>
	<form asp-action="Edit" asp-controller="Drone">
		<input type="text" name="name" value="@Model.Name" /><br/>
		<input type="text" name="Description" value="@Model.Description" /><br/>
		<input type="submit" value="Edit" />
		@* Envoyer le formulaire a la methode Edit[Httppost] *@
	</form>
</body>
</html>
